.header{
    position: sticky;
    top: 0px;
    z-index: 50;
    display: flex;
    height: 60px;
    align-items: center;
    padding-left:16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: white;
    box-shadow: 2.5px 2.5px 3px 4px #888888;
    /* gap: 20px; */
}
.header-button{
    height: 20px;
    width: 20px;
    border: 0px;
    color: black;
    size: 10;
}
.heading{
    font:medium;
}
.search{
    border: none;
    outline: none;
    padding: 0.7rem;
    position: relative;
    left:200px;
    height: 60px;
    width: 1000px;
    align-items:flex-end;
}
.header-search{
    border: none;
    outline: none;
    width: 50%;
    height: 100%;
    margin-right: 80px;
    padding-left: 5px;
    background-color: #c7cacb;
    border-radius: 10px;

}
.login-button{
    background-color: black;
    text-decoration: none;
    color: #f5f9fa;
    border: none;
    /* outline: none; */
    cursor: pointer;
    position: relative;
    left: 200px;
}
@media only screen and (max-width:650px){
    .header{
        position: sticky;
        top: 0px;
        z-index: 50;
        display: flex;
        height: 60px;
        width: 385px;
        align-items: center;
        /* padding-left:16px; */
        /* padding-right: 16px; */
        padding-top: 8px;
        padding-bottom: 8px;
        background-color: white;
        box-shadow: 2.5px 0px 3px 4px #888888;
        /* gap: 20px; */
    }
    .heading{
        font-size:medium;
    }
    .search{
        display: none;
        /* align-items:flex-end; */
    }
    .header-search{
       display: none;
    
    }
    .login-button{
        background-color: black;
        text-decoration: none;
        color: #f5f9fa;
        border: none;
        /* outline: none; */
        cursor: pointer;
    }
}